<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      {{ username }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" color="light" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="carSharesUserOwns && carSharesUserIsBookedOnto">
  <app-profile-content [refreshedData]="refreshedData" [carSharesUserOwns]="carSharesUserOwns"
    [carSharesUserIsBookedOnto]="carSharesUserIsBookedOnto" (refreshData)="refreshData()">
  </app-profile-content>
</ion-content>