<ion-header>
  <ion-toolbar>
    <ion-title color="light">Tracker</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div id="map_canvas"></div>

<div class="info-container">
  <div class="info-box">
    <div class="col">
      <h2>Passengers picked up</h2>
      <p>{{ stopsReached }}</p>
    </div>

    <div class="col">
      <h2>Total Passengers</h2>
      <p>{{ passengerCount }}</p>
    </div>
  </div>
</div>