<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      {{ isInUpdateMode ? 'Update Your Car Share' :  'Create a car share' }}
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="carShare">
  <form (ngSubmit)="manageCarShare()">
    <ion-card class="transparent">
      <ion-text style="font-weight: 900; font-size: 24px">
        {{ isInUpdateMode ? 'Update Your Car Share' :  'Create a car share' }}
      </ion-text>
    </ion-card>

    <ion-card class="transparent">
      <div class="step-row">
        <div class="circle">
          1
        </div>
        <ion-text>Location</ion-text>
      </div>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Where are you starting from and heading too?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <app-search [model]="locations" [originPlaceName]="originPlaceName"
          [destinationPlaceName]="destinationPlaceName"></app-search>
      </ion-card-content>
    </ion-card>

    <ion-card class="transparent">
      <div class="step-row">
        <div class="circle">
          2
        </div>
        <ion-text>Choose a car</ion-text>
      </div>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Which car is being used for this car share?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-list-header>Select a car</ion-list-header>

          <ion-item lines="none">
            <ion-select mode="md" [interfaceOptions]="setCustomInterfaceOptions('Your available cars')"
              [(ngModel)]="carShare.carId" name="Car">
              <ion-select-option *ngFor="let availableCar of availableCars" [selected]="carShare.carId"
                [value]="availableCar._id">
                {{ availableCar.make }}</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card class="transparent">
      <div class="step-row">
        <div class="circle">
          3
        </div>
        <ion-text>Price</ion-text>
      </div>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>What is your base charge for each individual passenger?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-list-header>Enter a price</ion-list-header>

          <ion-item lines="none">
            <ion-label position="fixed">£</ion-label>
            <ion-input [(ngModel)]="carShare.price" type="number" [value]="carShare.price" name="Price">
            </ion-input>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card class="transparent">
      <div class="step-row">
        <div class="circle">
          4
        </div>
        <ion-text>Availability</ion-text>
      </div>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Whats days will your car share be available?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-list-header>{{ carShare.runningDays }}</ion-list-header>

          <ion-item lines="none">
            <ion-select multiple mode="md" *ngIf="carShare.runningDays"
              [interfaceOptions]="setCustomInterfaceOptions('Choose available days')" [(ngModel)]="carShare.runningDays"
              name="Running Days">
              <ion-select-option *ngFor="let day of availableDays" [value]="day">
                {{ day }}
              </ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <div class="buttons-container">
      <ion-button [disabled]="isSaving" *ngIf="!isInUpdateMode" expand="block" fill="outline" shape="round"
        type="submit">
        Create Car Share
        <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-button>

      <ion-button [disabled]="isSaving" *ngIf="isInUpdateMode" expand="block" fill="outline" shape="round"
        type="submit">
        Update Car Share
        <ion-icon slot="end" name="color-wand"></ion-icon>
      </ion-button>
    </div>
  </form>
</ion-content>