@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-tab-bar {
  --border: 0;
}

ion-toolbar {
  --background: var(--ion-color-secondary);
  --border-width: 0;
  --border-color: transparent;
}

ion-select{
  max-width: 100%;
  --padding-start: 0;
}