<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      Your feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="getRefreshedData($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card color="secondary" class="counter-card">
    <app-car-share-counter [availableCarShares]="availableCarShares?.length"></app-car-share-counter>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="/assets/car.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle color="secondary">Get Started</ion-card-subtitle>
      <ion-card-title>What is ICarShare?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>ICarShare is a new way to travel that helps both the planet and you save money and keep the world healthy! By
        sharing lifts with friends (or complete strangers), you have a chance to earn some money and save the planet at
        the same time!</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-text>Car shares in your area</ion-text>
    </ion-list-header>

    <ion-card color="primary" *ngFor="let carShare of availableCarShares">
      <ion-card-header>
        <ion-card-title color="dark">{{ carShare.origin.coordinates | placeName | async }} to
          {{ carShare.destination.coordinates | placeName | async }}
        </ion-card-title>
        <ion-card-subtitle color="secondary">{{ carShare.ownerInformation.username }} - Posted
          {{ carShare.createdAt | durationPipe }}
        </ion-card-subtitle>
        <ion-card-subtitle color="secondary">{{ carShare.distance.calculatedDistance | metresToMiles }} miles away
        </ion-card-subtitle>
        <ion-card-subtitle color="secondary">Price - {{ carShare.price | currency: '£' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button [disabled]="carShare.ownerInformation._id === userId" [hidden]="carShare['isBooked']" expand="block"
          color="secondary" fill="solid" shape="round" (click)="bookCarShare(carShare)">
          Book this car share!
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-button>
        <ion-button [hidden]="!carShare['isBooked']" expand="block" color="secondary" fill="solid" shape="round"
          (click)="cancelBooking(carShare)">
          Cancel your booking
          <ion-icon slot="end" name="close-circle-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="carShare.ownerInformation._id !== userId" expand="block" class="light-text"
          fill="transparent" (click)="contactOwner(carShare)">
          Contact owner
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card color="secondary" *ngIf="availableCarShares && availableCarShares.length === 0">
      <ion-card-header>
        <ion-card-title color="dark">It looks like there are no available car shares in your area 😢</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="light" fill="solid" shape="round">
          Notify me
          <ion-icon slot="end" name="notifications-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>