<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      Your feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="counter-card">
    <app-car-share-counter [availableCarShares]="availableCarShares?.length"></app-car-share-counter>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="/assets/car.png"></ion-img>
    <ion-buttons>
      <ion-button color="secondary">
        <ion-icon slot="start" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-card-header>
      <ion-card-subtitle color="secondary">Get Started</ion-card-subtitle>
      <ion-card-title>What is Hitch Hike?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Hitch Hike is a brand new way of keeping the environment clean and keeping the travel costs down by sharing
        lifts with friends or complete strangers!</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-text>Car shares in your area</ion-text>
    </ion-list-header>

    <ion-card *ngFor="let carShare of availableCarShares">
      <ion-card-header>
        <ion-card-title>{{ carShare.origin.coordinates | placeName | async }} to
          {{ carShare.destination.coordinates | placeName | async }}
        </ion-card-title>
        <ion-card-subtitle>{{ carShare.ownerInformation.username }} - Posted {{ carShare.createdAt | durationPipe }}
        </ion-card-subtitle>
        <ion-card-subtitle>{{ carShare.distance.calculatedDistance | metresToMiles }} miles away</ion-card-subtitle>
        <ion-card-subtitle>Price - {{ carShare.price | currency: '£' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" fill="outline" shape="round">
          Book this car share!
          <ion-icon slot="end" name="rocket"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>